<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/about.css">
    <script src="https://kit.fontawesome.com/c51bbf4f1c.js" crossorigin="anonymous"></script>
    <title>Spectra - Your favourite music library</title>
</head>

<body>

    <nav>
        <ul>
            <li class="brand"><a href="/"><img src="../static/coverPics/logo.png" alt="Spectra"></a>Spectra</li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    <div class="aboutContainer">
        <p>This website is made purely for practice purpose and no song present on the website is used for any
            commercial or organizational purpose. I made this website so that I can practice my javascript skills and I
            only used real songs to give it a real feel, If you have any probelm feel free to reach out to me.
            <br> Thanks :)
        </p>
    </div>

    <footer>
        <div class="footerContainer">
            <p id="footerText">&copy; 2022 Spectra. INC</p>
        </div>
    </footer>
</body>

</html>