@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&family=Varela+Round&display=swap');

.aboutContainer {

    background-image: linear-gradient(45deg, rgb(194, 194, 224), white);
    height: 60vh;
    width: 60vw;
    margin: 5% auto 5% auto;
    border-radius: 14px;
    border: 4px solid wheat;
    box-shadow: 2px 3px 10px 2px black;
    transition: all 300ms ease-in;
    text-align: center;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    text-shadow: 1px 0px 0px black;
}

.aboutContainer:hover{

    transform: scale(1.02);
    box-shadow: 4px 4px 10px 3px black;
    color: blue;
}

p {

    margin-top: 5vh;
}

.footerContainer {

    background-color: black;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: white;
    width: 100%;
    height: 130px;
    position: sticky;
    bottom: 0px;
    text-align: center;
}

#footerText {

   padding-top: 50px;
   
}

@media (max-width: 1439px) and (min-width: 481px) {

    .aboutContainer {

        background-image: linear-gradient(45deg, rgb(194, 194, 224), white);
        height: 60vh;
        width: 60vw;
        margin: 18% auto 13% auto;
        border-radius: 14px;
        border: 4px solid wheat;
        box-shadow: 2px 3px 10px 2px black;
        transition: all 300ms ease-in;
        text-align: center;
        padding: 10px;
        font-family: 'Varela Round', sans-serif;
        font-size: 20px;
        text-shadow: 1px 0px 0px black;
    }


}

@media (max-width: 480px) {

    .aboutContainer {

        background-image: linear-gradient(45deg, rgb(194, 194, 224), white);
        height: 60vh;
        width: 60vw;
        margin: 28% auto -2% auto;
        border-radius: 14px;
        border: 4px solid wheat;
        box-shadow: 2px 3px 10px 2px black;
        transition: all 300ms ease-in;
        text-align: center;
        padding: 10px;
        font-family: 'Varela Round', sans-serif;
        font-size: 16px;
        text-shadow: 1px 0px 0px black;
    }
    
}